/* Variables*/
:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #888888;
  --basic-to-dark: #444444;
  --basic-gray: #a6a6a6;
  --basic-lihgt-gray: #666666;
  --basic-dark-grey: #4d4d4d;
  --basic-super-grey: #dfdfdf;
  --basic-extra-grey: #d5d5d5;
  --basic-neutral: #EEEEEE;
  --basic-light: #e1e1e1;
  --basic-extra-light: #ffffff;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC84A;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
}

/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--basic-black);
}

.page a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Main-navigation*/

.main-header {
  background-color: #EEEEEE;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main-header-catalog {
  background-color: #EEEEEE;
}

.main-header-logo {
  width: 159px;
  height: 65px;
  margin-top: 49px;
}

.main-header-logo:active {
  opacity: 0.4;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: trasparent;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 9px;
  column-gap: 45px;
  padding: 0;
  margin-top: 75px;
  font-weight: bold;
}

/*User Navigation*/

.site-navigation a,
.cart {
  color: var(--basic-black);
}

.site-navigation a:hover,
.cart:hover {
  color: var(--basic-light-red);
}

.site-navigation a:active,
.cart:active {
  color: rgba(0,0,0,0.3);
}

.active-link {
  color: var(--basic-black);
  padding-bottom: 13px;
  border-bottom: 2px solid #FB565A;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
background-color: transparent;
}

.cart {
  position: relative;
  display: block;
  margin-top: 72px;
  max-width: 140px;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  font-weight: bold;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 6px;
  left: -29px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

.abo b {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

/* Слайдер */

.slider-controls {
  display: flex;
  position: absolute;
  left: 50%;
  margin-top: -115px;
  transform: translateX(-50%);
  z-index: 20;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider-list {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 78px;
  width: 1157px;
  height: 350px;
}

.slider-item {
  display: block;
  position: relative;
}

.slider-item::before {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  padding: 0;
  margin: 0;
  left: 400px;
  top: -80px;
  background-image: url("../img/slide-one.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-item b {
  display: block;
  width: 538px;
  height: 111px;
  font-size: 55px;
  line-height: 55px;
}

.slider-item p {
  display: block;
  width: 400px;
  height: 49px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls .current {
  background-color:  #c1c1c1;
}

.slide-button {
  margin: 0;
  padding: 0;
}

.features-fst {
  background-image: url("../img/slideone.png");
  width: 1157px;
  height: 431px;
}

.features-snd {
  background-image: url("../img/slidetwo.png");
  width: 1157px;
  height: 431px;
}

.features-trd {
  background-image: url("../img/slidethre.png");
  width: 1157px;
  height: 431px;
}

/*Feature*/

.feature-list {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  width: 1100px;
  height: 347px;
}

.feature-item {
  text-align: left;
  width: 300px;
  height: 100%;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.feature-item p {
  display: block;
  width: 260px;
}

.features .button {
  width: 240px;
  height: 50px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #EEEEEE;
  margin-top: 80px;
}

.about {
  width: 651px;
  margin-right: 149px;
  margin-top: 40px;
}

.button {
  display: flex;
  font: inherit;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 50px;
  color: var(--basic-extra-light);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-dark-red);
  color: rgba(255, 255, 255, 0.3);
}

.green {
  background-color: var(--basic-light-green);
}

.green:hover {
  background-color: var(--basic-green);
}

.green:active {
  background-color: var(--basic-dark-green);
  color: rgba(255, 255, 255, 0.3);
}

.yellow {
  background-color: var(--basic-light-yellow);
}

.yellow:hover {
  background-color: var(--basic-yellow);
}

.yellow:active {
  background-color: var(--basic-dark-yellow);
  color: rgba(255, 255, 255, 0.3);
}

.about h2 {
  display: block;
  width: 655px;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.about b {
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-list {
  margin-top: 23px;
  list-style:none;
  font-size: 16px;
  line-height: 24px;
}

.about-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: red;
  border: 0;
  cursor: default;
}

.about-list li {
  position: relative;
  margin-top: 35px;
}

.advantages {
  width: 360px;
  margin: 0px;
  padding: 0px;
  padding-top: 39px;
}

.advantages h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 37px;
  text-transform: uppercase;
  color: #000000;
}

.advantages b {
  font-size: 45px;
  line-height: 64px;
  margin-top: 31px;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.advantages span {
  vertical-align: 14px;
  font-size: 23px;
}

.advantages p {
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  text-align: left;
}

                                             /* PARTNERS */

.partners {
  position: relative;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 44px;
}

.partners-list li:not(:last-child) {
  border-right: 2px solid #EEEEEE;
  padding-right: 50px;
}

.partner-logo {
  opacity: 0.2;
}

.partner-logo:hover {
  opacity: 1;
}

.partner-logo:active {
  opacity: 0.1;
}

.contacts {
  position: absolute;
  display: block;
  width: 319px;
  height: 308px;
  margin: 0;
  padding: 0;
  margin-top: 54px;
  margin-left: 370px;
  background-color: var(--basic-extra-light);
  z-index: 200;
  padding-top: 29px;
  padding-left: 50px;
  text-align: left;
}

.contacts h2 {
  font-size: 18px;
  list-style: 30px;
  color: #000000;
}

.contact-button {
  width: 219px;
  height: 50px;
  margin-top: 37px;
}

.contacts address {
  display: block;
  width: 210px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 24px;
  color: var(--basic-lihgt-gray);
  padding-top: 23px;
}

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 68px;
  margin-bottom: 70px;
}

.friends {
  margin-left: 139px;
}

.friends b {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.friends p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
}

.footer-social {
  list-style: none;
}

.footer-social h2 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 261px;
   margin: 0;
  padding: 0;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin-top: 10px;
}

.social-contacts {
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  color: var(--basic-extra-light);
  border-radius: 50%;
  background-color: var(--basic-light);
  }

.social-button:hover {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-dark-red);
}

.social-button img:active {
  opacity: 0.3;
}

.statistic {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
}

.statistic P {
  width: 135px;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

                                                                         /*Каталог*/


.filters {
  width: 260px;
}

.filter-option {
  margin-bottom: 36px;
  padding-left: 36px;
}

.filter legend {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.filter-option label {
  position: relative;
  /* display: block; */
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -10;
  width: 25px;
  height: 25px;
  border: 2px solid #4d4d4d;
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -42px;
  top: 1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover,
.filter-input-checkbox + label:focus {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -2px;
  width: 25px;
  height: 25px;
  border: 2px solid #4d4d4d;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -34px;
  top: 7px;
  width: 8px;
  height: 8px;
  background-color: #4d4d4d;
  border-radius: 50%;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-top: 54px;
}

.filter-button {
  width: 260px;
  height: 60px;
  font: inherit;
  text-transform: uppercase;
  background-color: var(--basic-neutral);
  border: none;
  border-radius: 3px;
}

.filter-button:hover {
  background-color: var(--basic-super-grey);
}

.filter-button:active {
  background-color: var(--basic-extra-grey);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 22px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}


.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.catalog b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog {
  width: 760px;
  margin: 0;
  padding: 0;
  margin-left: 141px;
  margin-top: 55px;
}

.sort-filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 359px;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort-link {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active,
.active-sort {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: block;
  width: 358px;
  min-height: 578px;
  margin-right: 40px;
  margin-bottom: 31px;
  border-radius: 5px;
}

.product {
  position: absolute;
  display: block;
  width: 360px;
  height: 231px;
  margin-top: -230px;
  padding-top: 26px;
  text-align: center;
  background-color: #EEEEEE;
  opacity: 0.0001;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.product:hover {
  opacity: 1;
}

.connection {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  width: 360px;
  height: 77px;
  gap: 40px;
  margin-bottom: 34px;
  margin-top: 34px;
}

.comment {
  font-family: inherit;
}

.modal textarea {
  font-size: 16px;
  line-height: 18px;
  padding-left: 16px;
  padding-top: 16px;
  width: 760px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  margin-top: 9px;
  resize: none;
  opacity: 0.5;
}

.modal input {
  font-size: 16px;
  line-height: 18px;
  padding-left: 16px;
  width: 360px;
  height: 50px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  margin-top: 9px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0px;
}

.catalog-item a {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 26px;
}

.catalog-item p {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
  margin-top: 12px;
}

.catalog-item img {
  border-radius: 5px;
}

.catalog-button {
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 44px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 11px;
}

.pagination-item  a {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  color: var(--basic-black);
  background-color: var(--basic-neutral);
  border-radius: 3px;
}

.page-next {
  width: 260px;
  text-align: center;
}

.pagination-item :hover {
  background-color: var(--basic-super-grey);
}

.pagination-item :active {
  background-color: var(--basic-extra-grey);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: content-box;
  border-radius: 3px;
}

.modal {
  display: none;
  position: fixed;
  font-family: inherit;
  width: 960px;
  height: 590px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-left: 100px;
  z-index: 250;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin-top: 63px;
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  background: url(../img/cross-icon.svg);
  width: 21px;
  height: 21px;
  top: 0;
  right: 170px;
  top: 78px;
  border: 0;
  cursor: pointer;
  border: none;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-button {
  margin: 0;
  padding: 0;
  width: 259px;
  margin-top: 47px;
  margin-bottom: 84px;
}

.modal-map iframe {
  /* position: relative; */
  width: 100%;
  height: 416px;
}

.modal-map {
  margin-top: 80px;
  position: relative;
  z-index: 10;
}

.modal-map::before {
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  top: 86px;
  left: 822px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products-list {
  display: flex;
}
