/* Variables*/
:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #888888;
  --basic-to-dark: #444444;
  --basic-gray: #a6a6a6;
  --basic-lihgt-gray: #666666;
  --basic-dark-grey: #4d4d4d;
  --basic-super-grey: #dfdfdf;
  --basic-extra-grey: #d5d5d5;
  --basic-neutral: #EEEEEE;
  --basic-light: #e1e1e1;
  --basic-extra-light: #ffffff;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC84A;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
}

/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin-top: 78px;
  color: var(--basic-black);
}

.preview {
  padding-bottom: 72px;
}

.page a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Main-navigation*/

.main-header {
  background-color: #EEEEEE;
  padding-bottom: 4px;
}

.main-header-catalog {
  background-color: #EEEEEE;
}

.main-header-logo {
  min-width: 159px;
  height: 65px;
  margin-top: 49px;
}

.main-header-logo:active {
  opacity: 0.4;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: trasparent;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 9px;
  margin-right: 84px;
  column-gap: 45px;
  padding: 0;
  margin-top: 75px;
  font-weight: 500;
}

/*User Navigation*/

.site-navigation a,
.cart {
  color: var(--basic-black);
}

.site-navigation a:hover,
.cart:hover {
  color: var(--basic-light-red);
}

.site-navigation a:active,
.cart:active {
  color: rgba(0,0,0,0.3);
}

.active-link {
  color: var(--basic-black);
  padding-bottom: 19px;
  border-bottom: 2px solid #FB565A;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
background-color: transparent;
}

.cart {
  position: relative;
  display: block;
  margin-top: 75px;
  max-width: 140px;
  /* margin-bottom: 20px; */
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  font-weight: 500;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 8px;
  left: -40px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  margin-bottom: -10px;
}

.abo b {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

/* Слайдер */

.slider-controls {
  display: flex;
  position: absolute;
  left: 50%;
  margin-top: -110px;
  transform: translateX(-50%);
  z-index: 20;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider-list {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 78px;
  width: 1157px;
  height: 350px;
}

.slider-item {
  display: block;
  position: relative;
  }

.slider-item::before {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  padding: 0;
  margin: 0;
  left: 397px;
  top: -77px;
}

.slider-item b {
  display: block;
  width: 500px;
  height: 111px;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-item p {
  display: block;
  width: 410px;
  height: 49px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 39px;
}

.slider-frst {
  display: block;
  position: relative;
}

.slider-frst::before {
  content: "";
  display: block;
  position: absolute;
  width: 760px;
  height: 431px;
  background-image: url("../img/slide-one.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-scnd {
  display: block;
  position: relative;
}

.slider-scnd::before {
  content: "";
  display: block;
  position: absolute;
  width: 760px;
  height: 431px;
  background-image: url("../img/slide-two.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-thrd {
  display: block;
  position: relative;
}

.slider-thrd::before {
  content: "";
  display: block;
  position: absolute;
  width: 760px;
  height: 431px;
  background-image: url("../img/slide-three.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.current::before {
  content: "";
  position: absolute;
  display: block;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid  #c1c1c1;
  border-radius: 50%;
}

.slide-button {
  margin: 0;
  padding: 0;
}

.features-fst {
  background-image: url("../img/slideone.png");
  width: 1157px;
  height: 431px;
}

.features-snd {
  background-image: url("../img/slidetwo.png");
  width: 1157px;
  height: 431px;
}

.features-trd {
  background-image: url("../img/slidethre.png");
  width: 1157px;
  height: 431px;
}

/*Feature*/

.feature-list {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  width: 1100px;
  height: 347px;
}

.feature-item {
  width: 300px;
  height: 100%;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.feature-item p {
  display: block;
  width: 260px;
  margin-bottom: 33px;
}



.features .button {
  width: 240px;
  height: 50px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  border-top: 2px solid #EEEEEE;
  margin-top: 80px;
}

.about {
  width: 651px;
  margin-right: 149px;
  margin-top: 35px;
}

.button {
  display: flex;
  font: inherit;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 50px;
  color: var(--basic-extra-light);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-dark-red);
  color: rgba(255, 255, 255, 0.3);
}

.green {
  background-color: var(--basic-light-green);
}

.green:hover {
  background-color: var(--basic-green);
}

.green:active {
  background-color: var(--basic-dark-green);
  color: rgba(255, 255, 255, 0.3);
}

.yellow {
  background-color: var(--basic-light-yellow);
}

.yellow:hover {
  background-color: var(--basic-yellow);
}

.yellow:active {
  background-color: var(--basic-dark-yellow);
  color: rgba(255, 255, 255, 0.3);
}

.about h2 {
  display: block;
  width: 680px;
  font-weight: 500px;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about p {
  font-size: 16px;
  line-height: 25px;
  margin-top: -6px;
  margin-bottom: 40px;
  color: var(--basic-extra-dark);
}

.about b {
  /* padding-top: 60px; */
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.about-list {
  margin-left: -4px;
  margin-top: -1px;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}

.about-list li::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 11px;
  width: 25px;
  height: 2px;
  background-color: red;
  border: 0;
  cursor: default;
}

.about-list li {
  position: relative;
  margin-top: 24px;
}

.advantages {
  width: 360px;
  padding-top: 39px;
}

.advantages h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 37px;
  margin-left: 2px;
  text-transform: uppercase;
  color: #000000;
}

.advantages b {
  font-size: 45px;
  line-height: 64px;
  margin-top: 31px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000000;
}

.advantages span {
  vertical-align: 14px;
  font-size: 23px;
}

.advantages p {
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

                                             /* PARTNERS */

.partners {
  /* position: relative; */
  padding-bottom: 43px;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  width: 1085px;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  margin-left: 20px;
  justify-content: space-between;
  list-style: none;
}

.partner-logo-one {
  display: block;
  position: relative;
  margin-left: 11px;
  opacity: 0.2;
}

.partner-logo-two {
  display: block;
  margin-left: -22px;
  margin-top: -18px;
  opacity: 0.2;
}

.partner-logo-three {
  display: block;
  margin-left: -20px;
  opacity: 0.2;
}

.partner-logo-four {
  display: block;
  margin-top: -10px;
  margin-right: -10px;
  opacity: 0.2;
}

.partner-logo-one::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  left: 249px;
  background-color: var(--basic-dark-grey);
}

.partner-logo-two::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  left: 953px;
  margin-top: 17px;
  background-color: var(--basic-dark-grey);
}

.partner-logo-three::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  left: 1250px;
  background-color: var(--basic-dark-grey);
}

.partner-logo-one:hover,
.partner-logo-two:hover,
.partner-logo-three:hover,
.partner-logo-four:hover {
  opacity: 1;
}

.partner-logo-one:active,
.partner-logo-two:active,
.partner-logo-three:active,
.partner-logo-four:active {
  opacity: 0.1;
}

.contacts-modal {
  display: block;
  position: relative;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.contacts {
  position: absolute;
  display: block;
  width: 319px;
  height: 308px;
  margin: 0;
  padding: 0;
  top: 55px;
  left: 19px;
  background-color: var(--basic-extra-light);
  z-index: 200;
  padding-top: 29px;
  padding-left: 50px;
}

.contacts h2 {
  font-size: 18px;
  margin-top: 22px;
  margin-left: 2px;
  color: #000000;
}

.contact-button {
  width: 219px;
  height: 50px;
  margin-top: 37px;
}

.contacts address {
  display: block;
  width: 210px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  margin-top: -12px;
  margin-left: 2px;
  padding-bottom: 12px;
  color: var(--basic-lihgt-gray);
  padding-top: 23px;
}

.contacts2 {
  margin-left: 2px;
  text-decoration: none;
  color: #666666;
}

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.friends {
  margin-left: 127px;
  margin-top: 67px;
}

.friends b {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.friends p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
}

.footer-social {
  list-style: none;
  padding-top: 43px;
  margin-left: -40px;
}

.footer-social h2 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 261px;
   margin: 0;
  padding: 0;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin-top: 10px;
}

.page-footer {
  display: block;
  position: relative;
}

.social-contacts {
  list-style: none;
}

.social {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  margin-top: 2px;
  margin-right: 13px;
  color: var(--basic-extra-light);
  border-radius: 50%;
  background-color: var(--basic-light);
  }

.social:hover {
  background-color: var(--basic-red);
}

.social:active {
  background-color: var(--basic-dark-red);
}

.social:active .logo-vk,
.social:active .logo-fb,
.social:active .logo-insta {
  opacity: 0.3;
}

.logo-vk {
  display: block;
  position: relative;
  width: 81px;
  height: 81px;
}

.logo-vk::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 15px;
  top: 34px;
  left: 25px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
}

.logo-fb {
  display: block;
  position: relative;
}

.logo-fb::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: -10px;
  left: -5px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.logo-insta {
  display: block;
  position: relative;
  width: 81px;
  height: 81px;
}

.logo-insta::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 30px;
  left: 30px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
}

.vk-icon::after {
  display: block;
  position: absolute;
  background-image: url("../img/vk-icon.svg;");
  background-repeat: no-repeat;
}

.statistic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 23px;
  margin-left: -40px;
  list-style: none;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

                                                                         /*Каталог*/


.filters {
  width: 260px;
}

.filter-option {
  margin-bottom: 22px;
  padding-left: 36px;
}

.filter-special {
  margin-bottom: 21px;
  padding-left: 36px;
}

.filter legend {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-left: -2px;
  text-transform: uppercase;
}

.filter ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-special label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -1px;
  width: 23px;
  height: 23px;
  border: 2px solid #4d4d4d;
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

.filter-input-checkbox + label:hover,
.filter-input-checkbox + label:focus {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 25px;
  height: 25px;
  border: 4px solid #4d4d4d;
  opacity: 0.3;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 7px;
  width: 8px;
  height: 8px;
  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.3;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-top: 54px;
}

.filter-button {
  width: 260px;
  height: 40px;
  font: inherit;
  text-transform: uppercase;
  background-color: var(--basic-neutral);
  border: none;
  border-radius: 3px;
}

.filter-button:hover {
  background-color: var(--basic-super-grey);
}

.filter-button:active {
  background-color: var(--basic-extra-grey);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 22px;
}

.range-filter {
  width: 260px;
  margin-top: 32px;
  padding-bottom: 22px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  margin-left: 0%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 70px;
  width: 20px;
  height: 20px;
  margin-left: 18px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}


.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 142px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label{
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.catalog b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog {
  width: 1000px;
  margin: 0;
  padding: 0;
  padding-left: 180px;
  margin-top: 55px;
}

.sort-filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  margin-top: 6px;
  margin-left: 225px;
  text-transform: uppercase;
  list-style: none;
}

.sort-pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
  margin-left: -15px;
  text-transform: uppercase;
  list-style: none;
}

.sort {
  display: flex;
  padding-bottom: 38px;
}

.sort-link {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  padding-right: 24px;
  color: #000000;
  opacity: 0.3;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active,
.active-sort {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: block;
  max-width: 359px;
  min-height: 620px;
  margin-bottom: 31px;
  border-radius: 5px;
  margin-right: 40px;
}

.product {
  position: absolute;
  display: none;
  width: 359px;
  height: 231px;
  bottom: 0;
  padding-top: 26px;
  text-align: center;
  background-color: #EEEEEE;
  border-radius: 5px;
}

.product p {
  display: block;
  max-width: 255px;
  margin: 0 auto;
}

.product-head {
  display: block;
  width: 359px;
  height: 40px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
  border-radius: 3px;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover .product {
  display: block;
}

.catalog-item:hover .product-head {
  opacity: 1;
}

.connection {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  width: 360px;
  height: 77px;
  gap: 40px;
  margin-bottom: 34px;
  /* margin-top: 2px; */
}

.comment {
  font-family: inherit;
}

.modal textarea {
  font-size: 16px;
  line-height: 18px;
  padding-left: 16px;
  padding-top: 16px;
  width: 760px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  margin-top: 9px;
  resize: none;
  opacity: 0.5;
}

.modal input {
  font-size: 16px;
  line-height: 18px;
  padding-left: 16px;
  width: 360px;
  height: 50px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  margin-top: 9px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0px;
}

.heading {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 26px;
}

.catalog-item p {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
  margin-top: 12px;
}

.catalog-item img {
  border-radius: 5px;
}

.catalog-button {
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 44px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 11px;
}

.pagination-item  a {
  display: block;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-neutral);
  border-radius: 3px;
}

.page-next {
  width: 260px;
  text-align: center;
  text-transform: uppercase;
}

.page-number {
  width: 100%;
  height: 100%;
}

.pagination-item :hover {
  background-color: var(--basic-super-grey);
}

.pagination-item :active {
  background-color: var(--basic-extra-grey);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  line-height: 44px;
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  border-radius: 3px;
}

.modal {
  display: none;
  position: fixed;
  font-family: inherit;
  width: 960px;
  height: 590px;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  transform: translate(-50%, -50%);
  padding: 0 100px;
  z-index: 250;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin-top: 63px;
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 90px;
  top: 78px;
  border: 0;
  background: url(../img/cross-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-button {
  margin: 0;
  padding: 0;
  width: 259px;
  margin-top: 47px;
  margin-bottom: 84px;
}

.modal-map iframe {
  width: 100%;
  height: 416px;
  border: none;
}

.modal-map {
  display: block;
  position: relative;
  margin-top: 80px;
  z-index: 10;
}
